#imageContainer {
    width: 100%;
    position: absolute;
    margin-top: 10%;
}

.imageGallery {
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.heading {
    font-size: 1.4rem;
    font-weight: bold;
    padding : 1em 0;
    width: 95%;
    margin: auto;
}

.imageBlock {
    margin: 15px;
    width: 41%;

}

.imageBlock.i1 {
    img {
        max-width: 100%;
    }
}

.imageBlock.i2 {
        width: 49%;
        height: 30%;

        img {
            height: 50%;
        }
}

.block-3-4
{
    display: flex;
}
.imageBlock.i4
{
    margin-left: 105px;
}