.toolTip, .miniToolTip {
    display: inline;
    position: absolute;
}

.toolTip {
    background-color: whitesmoke;
    min-width: 300px;
    min-height: 300px;
    border-radius: 5px;
    box-shadow: 10px 10px 30px -13px rgba(0,0,0,0.29);
}

.miniToolTip {
    background-color: grey;
    min-width: 100px;
}

.visible {
    display: inline;
}

.hidden {
    display: none;
}