.toolbar {
    width: 100%;
    background-color: white;
    height: 50px;
    position: relative;
}

.node-details, .video-details {
    display: inline-block;
}

.node-details {
    z-index: 100;
    width: 250px;
    margin-top: 20px;
    margin-left: 20px;
    opacity : 0;
    .container {
        .title {
            text-align: center;
            margin: 0;
            padding: 5px 0;
            font-size: 1.2rem;
            font-weight: bold;
        }
        .body {
            padding: 5px 10px;
            .row {
                display: flex;
                margin-bottom: 7px;
                .name, .value {
                    flex: 1;
                }
                .name {
                    max-width: 100px;
                }
            }
        }
        @include general-box-shadow;
    }
}

.video-details {
    float: right;
    z-index: 100;
    width: 250px;
    margin-top: 20px;
    margin-right: 20px;
    .container {
        .title {
            text-align: center;
            margin: 0;
            padding: 10px 5px;
            font-size: 1.2rem;
            font-weight: bold;
        }
        .body {
            padding: 5px 10px;
            .row {
                display: flex;
                margin-bottom: 7px;
                .name, .value {
                    flex: 1;
                }
                .name {
                    max-width: 100px;
                }
            }
        }
        @include general-box-shadow;
    }
}

.legendsContainer {
    position: absolute;
    bottom: 40px;
    right: 0;
    margin-right: 20px;
    z-index: 100;
    min-width: 150px;
    text-align: center;

    .legendDetails {
        min-width: 100%;
        background-color: transparent;
        min-height: 70%;
        font-size: 1.3rem;
        margin-top: 20px;
    }
    span.label{
        margin: -3px 5px;
    }

    .labelValue, .labelValue1 , .labelValue2{
        line-height: 1.5;
    }

    .labelValue1 {
        padding-right: 45px;
    }

    .labelValue2 {
        padding-right: 25px;
    }

    .sample {
        padding-right: 30px;
    }

    span.label.org {
        background: #1f77b4;
        display: inline-block;
        width: 20px;
        border-radius: 50%;
        height: 20px;
    }
    span.label.att {
        background: #ff7f0e;
        display: inline-block;
        width: 20px;
        border-radius: 50%;
        height: 20px;
        margin-left: -2px;
    }
    span.label.vOff {
        background: red;
        display: inline-block;
        width: 20px;
        border-radius: 50%;
        height: 20px;
    }
    span.label.vOn {
        background: #4CAF50;
        display: inline-block;
        width: 20px;
        border-radius: 50%;
        height: 20px;
    }

    span.label.vAct {
        background: #00ffd0;
        display: inline-block;
        width: 20px;
        border-radius: 50%;
        height: 20px;
    }
    
}

.Positive {
    color: #4CAF50;
}

.Negative {
    color: red;
}

.Neutral {
    color: black;
}

.initialText {
    text-align: center;
    color: lightslategrey;
    font-size: 1.4rem;
    position: absolute;
    left: 40%;
    top: 45%;
}